

body
    h1= collection
    #objects
        table(border=1)
          if objects.length > 2
              - each val, key in objects[3]
                  th= key 
          - each obj in objects
            tr.obj
              - each val, key in obj
                td.key= val



